###
### this file will be loaded before a 'cluster create' when using --env=tupperware
###
###
### make sure that:
###
###   * the pool for images is "default"
###   * a "caasp-net" network exists
###   * "caasp-net" is using "virbr3" exists
###   * "virbr3" IPs ranges do not conflict with any local
###     ranges in this machine
###

### create a local interface that is connected to a remote bridge in tupperware
### this will enable "file" provisioning as well as direct ssh/scp/rsync to the VMs we create there.
shell support/network/ssh-tunnel.sh --sudo -i ~/.ssh/alvaro@suse --tap --tap-rbridge virbr3 tupperware
