###
### this file will be loaded after a 'cluster destroy' when using --env=tupperware
###

### stop the local interface created in the pre-create script
###
shell support/network/ssh-tunnel.sh --stop --sudo -i ~/.ssh/alvaro@suse --tap --tap-rbridge virbr3 tupperware
