###
### this file will be loaded before a 'cluster create' when using --env=acamar
###


### make sure that:
###
###   * the pool for images is "default"
###   * a "caasp-net" network exists
###   * "caasp-net" is using "virbr3" exists
###   * "virbr3" IPs ranges do not conflict with any local
###     ranges in this machine
###


print Checking the default pool @ acamar.arch.suse.de
shell ssh acamar.arch.suse.de 'virsh pool-info default'

print Checking virbr3 @ acamar.arch.suse.de
shell ssh acamar.arch.suse.de '/sbin/ifconfig virbr3'

print Check/recreate tap5 <-> virbr3 @ acamar.arch.suse.de
shell support/network/ssh-tunnel.sh --sudo -i ~/.ssh/alvaro@suse --tap --tap-rbridge virbr3 acamar.arch.suse.de

print Try to enable KSM on acamar.arch.suse.de
shell ssh root@acamar.arch.suse.de '[ -w /sys/kernel/mm/ksm/merge_across_nodes ] && echo 0 > /sys/kernel/mm/ksm/merge_across_nodes'
shell ssh root@acamar.arch.suse.de '[ -w /sys/kernel/mm/ksm/run ] && echo 1 > /sys/kernel/mm/ksm/run'
shell ssh root@acamar.arch.suse.de '[ -w /sys/kernel/mm/ksm/pages_to_scan ] && echo $(($(lscpu -p | grep -vc "^#")*64)) > /sys/kernel/mm/ksm/pages_to_scan'
shell ssh root@acamar.arch.suse.de '[ -w /sys/kernel/mm/transparent_hugepage/enabled ] && echo never > /sys/kernel/mm/transparent_hugepage/enabled'
